.elementor-kit-10226{--e-global-color-primary:#151515;--e-global-color-secondary:#151515;--e-global-color-text:#4A4A4A;--e-global-color-accent:#0242EC;--e-global-color-56d2822:#347CFC;--e-global-color-f8e2220:#04A4FC;--e-global-color-64919f0:#F2F2F2;--e-global-color-882693a:#E8E8E8;--e-global-color-a9a1af6:#F8F8F8;--e-global-color-a4600c8:#F2F2F2;--e-global-color-80230d4:#ADADAD;--e-global-color-58e1542:#006CFF;--e-global-color-bae22db:#38B549;--e-global-color-542a4b0:#FBB800;--e-global-color-656beb3:#EE1F00;--e-global-color-90613fe:#8E79FE;--e-global-color-31979a7:#FFFFFF;--e-global-typography-primary-font-family:"Plus Jakarta Sans";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Plus Jakarta Sans";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Plus Jakarta Sans";--e-global-typography-text-font-weight:400;--e-global-typography-text-line-height:1.75em;--e-global-typography-accent-font-weight:500;--e-global-typography-accent-line-height:1.6em;--e-global-typography-03b371b-font-family:"Plus Jakarta Sans";--e-global-typography-03b371b-font-size:var(--step-0);--e-global-typography-03b371b-font-weight:500;--e-global-typography-d6db5da-font-family:"Plus Jakarta Sans";--e-global-typography-d6db5da-font-size:var(--step-2);--e-global-typography-d6db5da-font-weight:600;--e-global-typography-d6db5da-line-height:1.4em;--e-global-typography-d6db5da-letter-spacing:-0.0125em;--e-global-typography-1e94136-font-family:"Plus Jakarta Sans";--e-global-typography-1e94136-font-size:var(--step-2);--e-global-typography-1e94136-font-weight:400;--e-global-typography-1e94136-line-height:1.5em;--e-global-typography-83d0d37-font-family:"Plus Jakarta Sans";--e-global-typography-83d0d37-font-size:var(--step-1);--e-global-typography-83d0d37-font-weight:500;--e-global-typography-83d0d37-line-height:1.6em;--e-global-typography-72b49c8-font-family:"Plus Jakarta Sans";--e-global-typography-72b49c8-font-size:var(--step--1);--e-global-typography-72b49c8-font-weight:500;--e-global-typography-72b49c8-line-height:1.6em;--e-global-typography-b8878e0-font-family:"Plus Jakarta Sans";--e-global-typography-b8878e0-font-size:var(--step--1);--e-global-typography-b8878e0-font-weight:600;--e-global-typography-b8878e0-text-transform:uppercase;--e-global-typography-b8878e0-line-height:1.4em;--e-global-typography-af9442d-font-family:"Plus Jakarta Sans";--e-global-typography-af9442d-font-size:var(--step-0);--e-global-typography-af9442d-font-weight:500;--e-global-typography-af9442d-line-height:1.4em;--e-global-typography-af9442d-letter-spacing:-0.0125em;--e-global-typography-686317d-font-family:"Plus Jakarta Sans";--e-global-typography-686317d-font-size:var(--step-0);--e-global-typography-686317d-font-weight:600;--e-global-typography-686317d-line-height:1.4em;--e-global-typography-686317d-letter-spacing:-0.0125em;--e-global-typography-354f773-font-family:"Plus Jakarta Sans";--e-global-typography-354f773-font-size:var(--step-5);--e-global-typography-354f773-font-weight:800;--e-global-typography-354f773-line-height:1.1em;--e-global-typography-354f773-letter-spacing:-0.0275em;color:var( --e-global-color-text );font-family:"Plus Jakarta Sans", Sans-serif;font-size:var(--step-0);font-weight:400;line-height:1.75em;letter-spacing:0em;}.elementor-kit-10226 p{margin-bottom:1.75em;}.elementor-kit-10226 a{color:var( --e-global-color-accent );font-family:"Plus Jakarta Sans", Sans-serif;}.elementor-kit-10226 a:hover{color:#2467D8;}.elementor-kit-10226 h1{color:var( --e-global-color-primary );font-family:"Plus Jakarta Sans", Sans-serif;font-size:var(--step-5);font-weight:800;line-height:1.1em;letter-spacing:-0.0275em;}.elementor-kit-10226 h2{color:var( --e-global-color-primary );font-family:"Plus Jakarta Sans", Sans-serif;font-size:var(--step-4);font-weight:700;line-height:1.2em;letter-spacing:-0.0275em;}.elementor-kit-10226 h3{color:var( --e-global-color-primary );font-family:"Plus Jakarta Sans", Sans-serif;font-size:var(--step-3);font-weight:700;letter-spacing:-0.0275em;}.elementor-kit-10226 h4{color:var( --e-global-color-primary );font-family:"Plus Jakarta Sans", Sans-serif;font-size:var(--step-2);font-weight:700;line-height:1.4em;}.elementor-kit-10226 h5{color:var( --e-global-color-primary );font-family:"Plus Jakarta Sans", Sans-serif;font-size:var(--step-1);font-weight:700;line-height:1.5em;}.elementor-kit-10226 h6{color:var( --e-global-color-primary );font-family:"Plus Jakarta Sans", Sans-serif;font-size:var(--step-0);font-weight:800;text-transform:uppercase;line-height:1.4em;}.elementor-kit-10226 button,.elementor-kit-10226 input[type="button"],.elementor-kit-10226 input[type="submit"],.elementor-kit-10226 .elementor-button{font-family:"Plus Jakarta Sans", Sans-serif;font-size:var(--step-0);font-weight:500;line-height:1.2em;color:#FFFFFF;background-color:var( --e-global-color-accent );box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.24);border-radius:500px 500px 500px 500px;padding:var(--space-xs) var(--space-m) var(--space-xs) var(--space-m);}.elementor-kit-10226 button:hover,.elementor-kit-10226 button:focus,.elementor-kit-10226 input[type="button"]:hover,.elementor-kit-10226 input[type="button"]:focus,.elementor-kit-10226 input[type="submit"]:hover,.elementor-kit-10226 input[type="submit"]:focus,.elementor-kit-10226 .elementor-button:hover,.elementor-kit-10226 .elementor-button:focus{color:var( --e-global-color-64919f0 );background-color:#2467D8;}.elementor-kit-10226 label{color:var( --e-global-color-text );font-family:var( --e-global-typography-72b49c8-font-family ), Sans-serif;font-size:var( --e-global-typography-72b49c8-font-size );font-weight:var( --e-global-typography-72b49c8-font-weight );line-height:var( --e-global-typography-72b49c8-line-height );letter-spacing:var( --e-global-typography-72b49c8-letter-spacing );word-spacing:var( --e-global-typography-72b49c8-word-spacing );}.elementor-kit-10226 input:not([type="button"]):not([type="submit"]),.elementor-kit-10226 textarea,.elementor-kit-10226 .elementor-field-textual{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );color:var( --e-global-color-primary );accent-color:var( --e-global-color-56d2822 );background-color:#F2F2F200;border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-80230d4 );border-radius:0.5em 0.5em 0.5em 0.5em;transition:200ms;padding:var(--space-xs) var(--space-xs) var(--space-xs) var(--space-xs);}.elementor-kit-10226 input:focus:not([type="button"]):not([type="submit"]),.elementor-kit-10226 textarea:focus,.elementor-kit-10226 .elementor-field-textual:focus{border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-accent );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1440px;}.e-con{--container-max-width:1440px;}.elementor-widget:not(:last-child){margin-block-end:0px;}.elementor-element{--widgets-spacing:0px 0px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-10226 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-kit-10226 label{font-size:var( --e-global-typography-72b49c8-font-size );line-height:var( --e-global-typography-72b49c8-line-height );letter-spacing:var( --e-global-typography-72b49c8-letter-spacing );word-spacing:var( --e-global-typography-72b49c8-word-spacing );}.elementor-kit-10226 input:not([type="button"]):not([type="submit"]),.elementor-kit-10226 textarea,.elementor-kit-10226 .elementor-field-textual{line-height:var( --e-global-typography-text-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-10226 label{font-size:var( --e-global-typography-72b49c8-font-size );line-height:var( --e-global-typography-72b49c8-line-height );letter-spacing:var( --e-global-typography-72b49c8-letter-spacing );word-spacing:var( --e-global-typography-72b49c8-word-spacing );}.elementor-kit-10226 input:not([type="button"]):not([type="submit"]),.elementor-kit-10226 textarea,.elementor-kit-10226 .elementor-field-textual{line-height:var( --e-global-typography-text-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS *//* globals ::: HEADINGS */
:root {
  --step--2: clamp(0.61rem, calc(0.60rem + 0.05vw), 0.64rem);
  --step--1: clamp(0.73rem, calc(0.71rem + 0.10vw), 0.80rem);
  --step-0: clamp(0.88rem, calc(0.84rem + 0.18vw), 1.00rem);
  --step-1: clamp(1.05rem, calc(0.99rem + 0.29vw), 1.25rem);
  --step-2: clamp(1.26rem, calc(1.17rem + 0.43vw), 1.56rem);
  --step-3: clamp(1.51rem, calc(1.39rem + 0.63vw), 1.95rem);
  --step-4: clamp(1.81rem, calc(1.64rem + 0.90vw), 2.44rem);
  --step-5: clamp(2.18rem, calc(1.93rem + 1.25vw), 3.05rem);
}

/* globals ::: SPACE */
:root {
    /* Uni(s) */
  --space-3xs: clamp(0.25rem, calc(0.25rem + 0.00vw), 0.25rem);
  --space-2xs: clamp(0.44rem, calc(0.42rem + 0.09vw), 0.50rem);
  --space-xs: clamp(0.69rem, calc(0.67rem + 0.09vw), 0.75rem);
  --space-s: clamp(0.88rem, calc(0.84rem + 0.18vw), 1.00rem);
  --space-m: clamp(1.31rem, calc(1.26rem + 0.27vw), 1.50rem);
  --space-l: clamp(1.75rem, calc(1.68rem + 0.36vw), 2.00rem);
  --space-xl: clamp(2.63rem, calc(2.52rem + 0.54vw), 3.00rem);
  --space-2xl: clamp(3.50rem, calc(3.36rem + 0.71vw), 4.00rem);
  --space-3xl: clamp(5.25rem, calc(5.04rem + 1.07vw), 6.00rem);
  --space-4xl: clamp(6.56rem, calc(6.29rem + 1.34vw), 7.50rem);
  --space-5xl: clamp(8.19rem, calc(7.85rem + 1.70vw), 9.38rem);
  --space-6xl: clamp(10.25rem, calc(9.84rem + 2.05vw), 11.69rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.18rem + 0.36vw), 0.50rem);
  --space-2xs-xs: clamp(0.44rem, calc(0.35rem + 0.45vw), 0.75rem);
  --space-xs-s: clamp(0.69rem, calc(0.60rem + 0.45vw), 1.00rem);
  --space-s-m: clamp(0.88rem, calc(0.70rem + 0.89vw), 1.50rem);
  --space-m-l: clamp(1.31rem, calc(1.12rem + 0.98vw), 2.00rem);
  --space-l-xl: clamp(1.75rem, calc(1.39rem + 1.79vw), 3.00rem);
  --space-xl-2xl: clamp(2.63rem, calc(2.23rem + 1.96vw), 4.00rem);
  --space-2xl-3xl: clamp(3.50rem, calc(2.79rem + 3.57vw), 6.00rem);
  --space-3xl-4xl: clamp(5.25rem, calc(4.61rem + 3.21vw), 7.50rem);
  --space-4xl-5xl: clamp(6.56rem, calc(5.76rem + 4.02vw), 9.38rem);
  --space-5xl-6xl: clamp(8.19rem, calc(7.19rem + 5.00vw), 11.69rem);

  /* Custom pairs */
  --space-xl-3xl: clamp(2.63rem, calc(1.66rem + 4.82vw), 6.00rem);
  --space-l-2xl: clamp(1.75rem, calc(1.11rem + 3.21vw), 4.00rem);
  --space-m-xl: clamp(1.31rem, calc(0.83rem + 2.41vw), 3.00rem);
  --space-s-l: clamp(0.88rem, calc(0.55rem + 1.61vw), 2.00rem);
  --space-xs-m: clamp(0.69rem, calc(0.46rem + 1.16vw), 1.50rem);
  --space-2xs-s: clamp(0.44rem, calc(0.28rem + 0.80vw), 1.00rem);
  --space-3xs-xs: clamp(0.25rem, calc(0.11rem + 0.71vw), 0.75rem);
  --space-2xl-4xl: clamp(3.50rem, calc(2.36rem + 5.71vw), 7.50rem);
  --space-3xl-5xl: clamp(5.25rem, calc(4.07rem + 5.89vw), 9.38rem);
  --space-4xl-6xl: clamp(6.56rem, calc(5.10rem + 7.32vw), 11.69rem);
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.elementor p:empty {
    display: none;
}

/* ---- Elements ---- */
.elementor-widget-image.site-logo a img[src$=".svg"] {
    width: auto;
}

.elementor .top-wrapper {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
}

.elementor-widget-image a {
    width: 100%;
}

.elementor-widget-heading .elementor-heading-title[class*="elementor-size-"] > a {
    color: var(--e-global-color-accent);
}
.elementor-widget-heading .elementor-heading-title[class*="elementor-size-"] > a:hover, 
.elementor-widget-heading .elementor-heading-title[class*="elementor-size-"] > a:focus{
    color: var(--e-global-color-f8e2220);
}

/* fix stuff */
[data-widget_type="text-editor.default"] p:last-child, 
[data-widget_type="heading.default"] p:last-child {
    margin-bottom: 0;
}

/* Image Box - SIMPLE FEATURE */
.simple-feature .elementor-image-box-title {
    margin: 0;
    margin-bottom: var(--space-m);
}

/* custom button */
.button-outlined a.elementor-button {
    background-color: transparent;
    color: var(--e-global-color-primary);
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.5);
}
.button-outlined a.elementor-button:hover, 
.button-outlined a.elementor-button:focus {
    background-color: rgba(0,0,0,0.05);
    color: var(--e-global-color-primary);
    border-color: rgba(0,0,0,0.06);
}
/* -- */
.button-text-link a.elementor-button {
    color: var(--e-global-color-accent);
    background: transparent;
}
.button-text-link a.elementor-button:hover, 
.button-text-link a.elementor-button:focus {
    color: var(--e-global-color-56d2822);
    background: transparent;
}
.button-text-link a.elementor-button > span {
    align-items: flex-end;
}
.button-text-link a.elementor-button > span .elementor-button-icon {
    margin-left: var(--space-xs);
    line-height: 0;
    transition: all 0.2s ease-in-out;
    margin-bottom: 0.325em;
}
.button-text-link a.elementor-button:hover > span .elementor-button-icon {
    margin-left: var(--space-s);
}
.button-text-link a.elementor-button > span .elementor-button-icon svg {
    width: 0.45em;
    fill: var(--e-global-color-accent);
}

/* iconbox */
.elementor-widget-icon-box.elementor-vertical-align-top .elementor-icon-box-icon {
    margin-top: 0.4em;
}
@media (max-width: 767px) {
    .elementor-widget-icon-box.elementor-mobile-position-top .elementor-icon-box-wrapper {
        display: flex !important;
        text-align: center;
        flex-direction: row !important;
        gap: var(--space-xs);
    }
    
    .elementor-widget-icon-box.elementor-mobile-position-top .elementor-icon-box-icon {
        margin-bottom: 0 !important;
        margin-top: 1px;
    }
}

/* LINKS --- inversion */
.elementor .inverse a, .inverse a:link {
    color: rgba(255,255,255,0.7);
    transition: color 0.25s ease;
}
.elementor .inverse a:hover, 
.elementor .inverse a:focus, 
.elementor .inverse a:active {
    color: rgba(255,255,255,1);
}

.elementor .inverse .elementor-heading-title {
    color: var(--e-global-color-64919f0);
} 
.elementor .inverse .elementor-text-editor, 
.elementor .inverse .elementor-widget-container {
    color: var(--e-global-color-882693a); 
    
}

/* better carousel */
.better-carousel .elementor-widget-container {
    line-height: 0;
}
.better-carousel .swiper-slide-image {
    height: 62vh; 
    width: 100%;
    object-fit: cover;
}
.better-carousel.lower .swiper-slide-image {
    height: 50vh; 
}

/* effects */
body:not(.elementor-editor-active) [class*="ob-fade-in"], 
body:not(.elementor-editor-active) [class*="slide-from-"] {
    opacity: 0;
}

/* better FAQ */
.faq {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.faq .elementor-toggle-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.faq .elementor-toggle-item .elementor-tab-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-top: 1px solid rgba(0,0,0,0.3);
    align-items: center;
}
.faq .elementor-toggle-item .elementor-tab-content {
    border: none;
}
.faq .elementor-toggle-item:not(:first-child) .elementor-tab-content {
    padding-bottom: 0;
}
.faq .elementor-toggle-item .elementor-tab-title .elementor-toggle-title {
    order: -1;
}
.faq .elementor-toggle-item .elementor-tab-title .elementor-toggle-icon {
    float: none;
    display: block;
    line-height: 0;
    transition: all 0.35s ease-in-out;
    width: 0.73em;
    height: 0.73em;
}
.faq .elementor-toggle-item .elementor-tab-title .elementor-toggle-icon svg {
    width: 0.73em;
    height: 0.73em;
}
.faq .elementor-toggle-item .elementor-tab-title.elementor-active .elementor-toggle-icon {
    transform: rotate(135deg);
}

/* Custom search ; archives, cat */
.custom-search-pill .elementor-search-form .elementor-search-form__container input {
    border-right: 0;
    border-radius: 0;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
}
.custom-search-pill .elementor-search-form .elementor-search-form__container button {
    border-right: 0;
    border-radius: 0;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* LETTERS */
.elementor-heading-title span.first, .elementor-heading-title span.sixth {
    color: var(--e-global-color-58e1542) !important;
}
.elementor-heading-title span.second, .elementor-heading-title span.seventh {
    color: var(--e-global-color-bae22db);
}
.elementor-heading-title span.third, .elementor-heading-title span.eighth {
    color: var(--e-global-color-542a4b0);
}
.elementor-heading-title span.fourth, .elementor-heading-title span.nineth {
    color: var(--e-global-color-656beb3);
}
.elementor-heading-title span.fifth {
    color: var(--e-global-color-90613fe);
}

/* Events & Webinars - CARD */
.event-card [data-widget_type="icon.default"], 
.event-card [data-widget_type="icon.default"] .elementor-icon-wrapper {
    line-height: 0;
    height: 100%;
    position: relative;
}
.event-card [data-widget_type="icon.default"] .elementor-icon-wrapper a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Column - Video Link */
.video-link [data-widget_type="icon.default"], 
.video-link [data-widget_type="icon.default"]  .elementor-icon-wrapper {
    line-height: 0;
    height: 100%;
    position: relative;
}
.video-link [data-widget_type="icon.default"] .elementor-icon-wrapper a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* AOL Tables - generl styling */
table.aol-table > :where(thead, tfoot) > * > th {
    background-color: var(--e-global-color-accent);
    color: #FFF;
}

table.aol-table tbody tr:hover > td, 
table.aol-table tbody tr:hover > th {
    background-color: #FFF;
}

table.aol-table tbody > tr:nth-child(2n+1) > td, 
table.aol-table tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(0, 0, 0, 0.03);
}

table.aol-table {
  border: 1px solid #FFF;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table.aol-table caption {
  font-size: 1em;
  margin: 2em 0 0;
}

table.aol-table tr {
  border: 1px solid #ddd;
}

table.aol-table th,
table.aol-table td {
  padding: 1em; 
  line-height: 1.6;
}

@media screen and (max-width: 767px) {
  table.aol-table {
    border: 0;
  }
  
  table.aol-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table.aol-table tr {
    display: block;
    margin-bottom: 0.5em;
    border: 0;
  }
  
  table.aol-table td {
    display: flex;
    flex-direction: row;
    border-left: 2px solid var(--e-global-color-accent);
  }
  
  table.aol-table td::before {
    content: attr(data-label);
    width: 45%;
    padding-right: 1.5em;
    font-weight: 600;
  }
  
  table.aol-table td span {
    width: 55%;
  }
  
  table.aol-table td:last-child {
    border-bottom: 0;
  }
}

/* AOL Policies */
.elementor-widget-theme-post-content ul, 
.elementor-widget-theme-post-content ol {
    margin-bottom: 1.6em;
}


/* navbar effect */
@media (min-width: 767px) {

    #site-navbar > .e-con-inner {
        transition: padding 0.25s ease-in-out;
    }
    #site-navbar.elementor-sticky--effects > .e-con-inner {
        padding-top: var(--space-xs);
        padding-bottom: var(--space-xs);
    }
    #site-navbar > .e-con-inner .site-logo {
        transition: filter 0.25s ease-in-out;
    }

}/* End custom CSS */